C:\Users\mdjro\Documents\IOD\.ipynb_checkpoints
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\Family_Income_and_Expenditure.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\housing-data.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\AirPassengers.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\bikeshare.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\sample1.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\SFPD_Incidents-Current_Year_2015.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\SWEETVIZ_REPORT.html"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\taxi_tripdata.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\titanic_train.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\trip_data_dictionary.pdf"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\Untitled.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\Iris.xls"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\Meteorite_Landings.csv"
"C:\Users\mdjro\Documents\IOD\Module 2\Labs 2\rock.csv"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\Student_practice.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\Movie_files"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\auth_reddit.json"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\dummyData.json"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\eshop.db.sqlite"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\housing-data.csv"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\P12-ListOfOrders.csv"
"C:\Users\mdjro\Documents\IOD\Module 3\Module 3 Labs\P12-OrderBreakdown.csv"
"C:\Users\mdjro\Documents\IOD\Module 4\Labs 4\winequality_merged.csv"
"C:\Users\mdjro\Documents\IOD\Module 4\Labs 4\diabetes.csv"
"C:\Users\mdjro\Documents\IOD\Module 4\Labs 4\Sacramento_transactions.csv"
"C:\Users\mdjro\Documents\IOD\Module 4\Labs 4\SWEETVIZ_REPORT.html"
"C:\Users\mdjro\Documents\IOD\Module 4\Labs 4\Untitled.ipynb""C:\Users\mdjro\Documents\IOD\Module 5\titanic_train.csv"
"C:\Users\mdjro\Documents\IOD\Module 5\breast-cancer-wisconsin-data.csv"
"C:\Users\mdjro\Documents\IOD\Module 6\Module 6 Labs\kmeans_ais.jpg"
"C:\Users\mdjro\Documents\IOD\Module 6\Module 6 Labs\ais.csv"
"C:\Users\mdjro\Documents\IOD\Module 6\Module 6 Labs\breast-cancer-wisconsin-data.csv"
"C:\Users\mdjro\Documents\IOD\Module 6\Module 6 Labs\diabetes.csv"
"C:\Users\mdjro\Documents\IOD\Module 7\Module 7 Labs\titanic_test.csv"
"C:\Users\mdjro\Documents\IOD\Module 7\Module 7 Labs\titanic_train.csv"
"C:\Users\mdjro\Documents\IOD\Module 7\Module 7 Labs\blood_transfusion.csv"
"C:\Users\mdjro\Documents\IOD\Module 7\Module 7 Labs\breast-cancer-wisconsin-data-old.csv"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\yelp_labelled.txt"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\amazon_cells_labelled.txt"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\corpus.txt"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\hf_token.txt"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\imdb_labelled_fixed.txt"
"C:\Users\mdjro\Documents\IOD\Module 8\Module 8 Labs\ncc-1701-D.txt"
"C:\Users\mdjro\Documents\IOD\nltk_data"
"C:\Users\mdjro\Documents\IOD\Project 2\.ipynb_checkpoints"
"C:\Users\mdjro\Documents\IOD\Project 2\alzheimers_disease_data.csv"
"C:\Users\mdjro\Documents\IOD\Project 3\Untitled.ipynb"
"C:\Users\mdjro\Documents\IOD\Project 3\googleplaystore.csv"
"C:\Users\mdjro\Documents\IOD\Project 3\googleplaystore_user_reviews.csv"
"C:\Users\mdjro\Documents\IOD\Project 3\license.txt"
"C:\Users\mdjro\Documents\IOD\Project 1\Diamond_Price.csv"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\IOD_Demo-9_5-Keras_CNNs.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\.ipynb_checkpoints"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\IOD_Demo-9_1-Neural_Networks_Basics.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\IOD_Demo-9_2-TensorFlow_Simulator.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\IOD_Demo-9_3-CNNs_Basics.ipynb"
"C:\Users\mdjro\Documents\IOD\Module 9\Module 9 Labs\IOD_Demo-9_4-Keras.ipynb"